body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EEEDDE;
}

h1 {
  color: #F0A500;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

#showMe {
  animation: cssAnimation 0s 7s forwards;
  opacity: 0; 
}

@keyframes cssAnimation {
  to   { opacity: 1; }
}

h2 {
  color: #E45826;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  }

h3 {
  color: #8675A9;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.8;
}

hr {
  border: dotted #E45826 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #E45826;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
#vid{
margin-top: -100px;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: black;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin: 100px 0;
  background-color: #EEEDDE;
}

.bottom-container {
  background-color: #98DDCA;
  padding: 50px 0 50px;
}

.rcorners{
  border-radius: 25px;
  border: 2px solid #F0A500;
  padding: 20px; 
  color: #F0A500;
  font-weight: bold;
  font-size: larger;
  background-color: black;
  display: inline;
  margin: 10px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 40%;
  margin: auto;
}


.jav-py {
  position: absolute;
  top: 10px;
  margin-left: 550px;
  width: 220px;
  height: 100px;
  animation: javpy 8s ;
}
@keyframes javpy {
  0% {right: 0px;}
  50% {right: 300px;}
  100%{right: 0px;}
}
.php-htm {
  position: absolute;
  left: 10px;
  top: 550px;
  width: 220px;
  height: 100px;
  animation: phht 8s ;
}

@keyframes phht {
  0% {left: 0px;}
  50% {left: 300px;}
  100%{left: 0px;}
}

.left-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.right-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/* Media Query BreakPoints to adjust Site */
@media (max-width: 1275px) {
  .right-img{
   width: 50%;
  }
  .left-img{
  width: 50%;
  }
}

@media (max-width: 980px) {
  .right-img{
   width: 100%;
  }
  .left-img{
  width: 100%;
  }
}

@media (max-width: 1178px) {
 .intro{
  font-size:medium;
  width: 50%;
 }
}
@media (max-width: 975px) {
  .intro{
   font-size:small;
   width: 60%;
  }
 }
 @media (max-width: 742px) {
  .intro{
   font-size:smaller;
   width: 70%;
  }
  #vid{
    width: 70%;
    height:70%;
  }
 }
 @media (max-width: 707px) {
 h1{
  font-size:200%;
 } 
 h2{
  font-size:x-large;
 }
 .footer-link{
  font-size:larger;
}
 }
 @media (max-width: 1000px) {
  .rcorners{
    border-radius: 25px;
    border: 1.2px solid #F0A500;
    padding: 12px; 
    color: #F0A500;
    font-weight: bold;
    font-size:small;
    background-color: black;
    display: inline;
    margin: 5px;
  }
  .footer-link{
    font-size:large;
  }
  }
 
